<!DOCTYPE html>
<html>
<head>
  <title>Static</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "static/application", media: "all" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">

</head>
<body>
<div class='container'>
<%= yield %>
</div>

</body>
</html>
